<section class="element-item <%=post.class %>">
<article>
  <h1 class="titel_post"><%=post.title %></h1>
  <img src="/img/<%=post.image %>" alt="<%=post.imageAlt %>" class="images"></img><br>
  <a href="/artwork/<%=index %>" class="meer">meer...</a>
</article>
</section>
